<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>
      Add Existing Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let goal of goals_; let goal_index = index">
      <ion-grid>
        <ion-row align-items-stretch>
          <ion-col>
              <ion-label (click)="goal_show_hide_tasks(goal_index)">
                <h2>{{goal.name}}</h2>
              </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="expanded_goals_array_[goal_index]">
          <ion-col>
            <ion-list lines="none">
              <ion-item *ngFor="let task of goal.child_tasks">
                <ion-label>
                  <h3>{{task.name}}</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
