<ion-header>
  <ion-toolbar>
    <ion-title>
      {{expanded_visions_[vision_index_]?.name}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="add_new_vision()">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button (click)="add_new_vision()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="add_new_vision()">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slide_options_" (ionSlideDidChange)="slide_changed()">
      <ion-slide *ngFor="let expanded_vision of expanded_visions_; let vision_index = index">
        <!--------------------------------------------------------------------------------Content-->
        <ion-content>
          <ion-list-header>
            <ion-label>Goals</ion-label>
          </ion-list-header>
          <!----------------------------------------------------------------------------Goal List-->
          <ion-list>
              <ion-grid *ngFor="let goal of expanded_vision.children; let goal_index = index">
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label (click)="goal_show_hide_tasks(vision_index, goal_index)">
                        <h2>{{goal.name}}</h2>
                      </ion-label>
                      <ion-icon slot="start" name="flag"></ion-icon>
                      <ion-buttons slot="end" *ngIf="goal.extra?.expanded">
                        <ion-button (click)="add_task_to_goal(vision_index, goal_index)">
                          <ion-icon slot="icon-only" name="add"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="goal.extra?.expanded">
                  <ion-col>
                    <!------------------------------------------------------------------Task List-->
                    <ion-list lines="none">
                      <ion-item *ngFor="let task of goal.children">
                        <ion-label>
                          <h3>{{task.name}}</h3>
                        </ion-label>
                        <ion-icon slot="start" name="git-commit"></ion-icon>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            <ion-item lines="none">
              <ion-button (click)="add_goal_to_vision(vision_index)">New Goal</ion-button>
            </ion-item>
          </ion-list>
          <ion-list-header>
            <ion-label>Freestanding Tasks</ion-label>
          </ion-list-header>
          <ion-list>
            <ion-item *ngFor="let free_task of expanded_vision.extra.freestanding_tasks">
              <ion-label>
                <h3>{{free_task.name}}</h3>
              </ion-label>
              <ion-icon slot="start" name="git-commit"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-slide>
    </ion-slides>
</ion-content>
