<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>
      New Vision
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label>Name</ion-label>
      <ion-input placeholder="Financial Independence" [(ngModel)]="new_vision_.name"></ion-input>
    </ion-item>
  <ion-item>
      <ion-textarea placeholder="Notes (recommended)" clearOnEdit="true" [(ngModel)]="new_vision_.details"></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-button slot="end" (click)="save()">
        Save
    </ion-button>
  </ion-item>
</ion-content>
