<ion-header>
  <ion-toolbar>
    <ion-title>
      This Week
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="lock_unlock_editing()">
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
      </ion-button>
      <ion-button (click)="add_new_task()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label>Active ({{active_tasks_.length}})</ion-label>
    </ion-item-divider>
    <week-task-list-item *ngFor="let task of active_tasks_" [task]="task" [add_mode]="editing_unlocked_"></week-task-list-item>
    <ion-item-divider>
      <ion-label>Complete ({{complete_tasks_.length}})</ion-label>
    </ion-item-divider>
    <week-task-list-item *ngFor="let task of complete_tasks_" [task]="task" [add_mode]="editing_unlocked_"></week-task-list-item>
  </ion-list>
</ion-content>
