<ion-header>
  <ion-toolbar>
    <ion-title>
      {{page_title_}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="current_week_active_" (click)="toggle_analytics()">
        <ion-icon slot="icon-only" name="analytics" color="{{toggle_analytics_color_}}"></ion-icon>
      </ion-button>
      <!--TODO(ABurroughs): This button is permanently hidden. Unhide or remove it.-->
      <ion-button *ngIf="false && current_week_active_" (click)="lock_unlock_editing()">
        <ion-icon slot="icon-only" name="clipboard" color="{{editing_unlocked_color_}}"></ion-icon>
      </ion-button>
      <ion-button (click)="add_new_task()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [@openClose]="display_analytics_ ? 'open' : 'closed'">
    <!--TODO: Doesn't animate out with ngIf, but I want these scrubbed from the DOM..-->
    <week-bar-chart *ngIf="display_analytics_" [tasks]="all_tasks_"></week-bar-chart>
    <week-donut-chart *ngIf="display_analytics_" [tasks]="all_tasks_"></week-donut-chart>
  </div>
  <ion-list>
    <ion-item-divider *ngIf="overdue_tasks_.length > 0 && current_week_active_">
      <ion-label>Overdue ({{overdue_tasks_.length}})</ion-label>
    </ion-item-divider>
    
    <task-list-item *ngFor="let task of overdue_tasks_" 
                    [task]="task" 
                    [sched_add_remove_lhs]="add_remove_today"
                    [sched_remove_current]="remove_from_week"
                    [get_context_dependent_attributes]="get_attributes"
                    [add_mode]="editing_unlocked_" 
                    [show_parent]="true"
                    [slide_to_remove]="true">
    </task-list-item>

    <ion-item-divider>
      <ion-label>Active ({{active_tasks_.length}})</ion-label>
    </ion-item-divider>
    <task-list-item *ngFor="let task of active_tasks_" 
                    [task]="task" 
                    [sched_add_remove_lhs]="add_remove_today"
                    [sched_remove_current]="remove_from_week"
                    [get_context_dependent_attributes]="get_attributes"
                    [add_mode]="editing_unlocked_" 
                    [show_parent]="true"
                    [slide_to_remove]="true">
    </task-list-item>
    <ion-item-divider *ngIf="current_week_active_">
      <ion-label>Complete ({{complete_tasks_.length}})</ion-label>
    </ion-item-divider>
    <task-list-item *ngFor="let task of complete_tasks_" 
                    [task]="task" 
                    [sched_add_remove_lhs]="add_remove_today"
                    [sched_remove_current]="remove_from_week"
                    [get_context_dependent_attributes]="get_attributes"
                    [add_mode]="editing_unlocked_" 
                    [show_parent]="true"
                    [slide_to_remove]="true">
    </task-list-item>
  </ion-list>
</ion-content>
