<ion-slides pager="true" [options]="slide_options_" (ionSlideDidChange)="slide_changed()">
  <ion-slide *ngFor="let expanded_vision of expanded_visions_; let vision_index = index">
    <!----------------------------------------------------------------------------------Content-->
    <ion-content>
      <!------------------------------------------------------------------------------Goal List-->
      <ion-list lines="none">
        <ion-item-divider>
          <ion-label>
            Goals
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="add_goal_to_vision(vision_index)">New Goal</ion-button>
          </ion-buttons>
        </ion-item-divider>

        <ion-grid *ngFor="let goal of expanded_vision.children; let goal_index = index">
          <goal-list-item [goal]="goal" [add_mode]="send_to_week_mode_"></goal-list-item>
        </ion-grid>
        <!------------------------------------------------------------------------------Divider-->
        <ion-item-divider>
          <ion-label>
            Tasks (directly-associated)
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="add_task_to_vision(vision_index)">New Task</ion-button>
          </ion-buttons>
        </ion-item-divider>
        <task-list-item *ngFor="let free_task of expanded_vision.extra.freestanding_tasks" [task]="free_task" [add_mode]="send_to_week_mode_"></task-list-item>
      </ion-list>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-button *ngIf="loaded_" size="full" (click)="add_new_vision()">Add Vision</ion-button>
  </ion-slide>
</ion-slides>
