<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="add_new_task()">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      Today
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let task of day_tasks_; let i = index" (press)="expand_collapse_task(i)">
      <ion-item-options side="end" *ngIf="task.extra.is_active">
        <ion-item-option color="danger" (click)="remove(i)">Remove</ion-item-option>
      </ion-item-options>

      <ion-item [ngStyle]="task?.extra.style">
        <ion-label>
          <h3>{{task.name}}</h3>
          <ion-note *ngIf="task.parent">{{task.parent.name}}</ion-note>
          <p *ngIf="task.extra.expanded">{{task.details}}</p>
        </ion-label>  
        <ion-checkbox slot="start" [(ngModel)]="task.extra.completed" (click)="checkbox_change(i)"></ion-checkbox>
        <ion-buttons slot="end">
          <ion-button (click)="edit_task(i)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
