<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="add_new_task()">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      Today
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item-divider *ngIf="overdue_tasks_.length > 0">
      <ion-label>Overdue ({{overdue_tasks_.length}})</ion-label>
    </ion-item-divider>
    <task-list-item *ngFor="let task of overdue_tasks_" 
      [task]="task" 
      [sched_add_remove_lhs]=""
      [sched_remove_current]="remove_from_day"
      [get_context_dependent_attributes]="get_attributes"
      [add_mode]="false" 
      [show_parent]="true"
      [slide_to_remove]="true">
      </task-list-item>
    <ion-item-divider>
      <ion-label>Active ({{active_tasks_.length}})</ion-label>
    </ion-item-divider>
    <task-list-item *ngFor="let task of active_tasks_" 
      [task]="task" 
      [sched_add_remove_lhs]=""
      [sched_remove_current]="remove_from_day"
      [get_context_dependent_attributes]="get_attributes"
      [add_mode]="false" 
      [show_parent]="true"
      [slide_to_remove]="true">
    </task-list-item>
    <ion-item-divider>
      <ion-label>Complete ({{complete_tasks_.length}})</ion-label>
    </ion-item-divider>
    <task-list-item *ngFor="let task of complete_tasks_" 
      [task]="task" 
      [sched_add_remove_lhs]=""
      [sched_remove_current]="remove_from_day"
      [get_context_dependent_attributes]="get_attributes"
      [add_mode]="false" 
      [show_parent]="true"
      [slide_to_remove]="true">
    </task-list-item>

  </ion-list>
</ion-content>
