<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="add_new_task()">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      <ion-button (click)="add_existing_task()">
          <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      Today
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of tasks_; let i = index">
      <ion-label>
        <h3>{{task.task.name}}</h3>
        <p>{{task.goal?.name}}</p>
        </ion-label>
        <ion-checkbox slot="start" [(ngModel)]="checkboxes_array_[i]"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
