<ion-app>
  <ion-menu contentId="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{current_week_str_}}</ion-title>
        
        <ion-buttons slot="end">
          <ion-button (click)="change_week()">
            <ion-icon slot="icon-only" name="filing" color="{{toggle_analytics_color_}}"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <!-- <ion-item (click)="change_week()">
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-label>Change Week</ion-label>
        </ion-item> -->
        <ion-item (click)="select_page(0)" [color]="page_number_ == 0 ? 'primary' : undefined">
          <ion-icon slot="start" name="list"></ion-icon>
          <ion-label>Tasks</ion-label>
        </ion-item>
        <ion-item (click)="select_page(1)" [color]="page_number_ == 1 ? 'primary' : undefined">
          <ion-icon slot="start" name="flag"></ion-icon>
          <ion-label>Goals</ion-label>
        </ion-item>
        <ion-item (click)="select_page(2)" [color]="page_number_ == 2 ? 'primary' : undefined"> 
          <ion-icon slot="start" name="eye"></ion-icon>
          <ion-label>Visions</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Show All</ion-label>
          <ion-toggle slot="start" (ionChange)="show_completed_change($event)"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>