<ion-item>
  <ion-label>
    <h3 [ngStyle]="text_style_">{{task.name}}</h3>
    <ion-note *ngIf="show_parent && task.parent">{{task.parent.name}}</ion-note>
  </ion-label>
  <ion-icon *ngIf="!add_mode" color="{{icon_color_}}" slot="start" name="git-commit"></ion-icon>

  <ion-buttons *ngIf="add_mode" slot="start">
    <ion-button *ngIf="!is_this_week_" disabled="{{add_mode_disabled_}}" (click)="add_remove_this_week()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button *ngIf="is_this_week_" disabled="{{add_mode_disabled_}}" (click)="add_remove_this_week()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="edit()">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>