<ion-list>
  <div *ngFor="let week_tasks of active_scheduled_week_tasks_">
    <ion-item-divider>
      <ion-label>Week: {{week_tasks.date.week}} ({{week_tasks.offset_str}})</ion-label>
    </ion-item-divider>
    <task-list-item *ngFor="let task of week_tasks.tasks" 
                    [task]="task"
                    [sched_add_remove_lhs]=""
                    [get_context_dependent_attributes]="get_attributes"
                    [add_mode]="false" 
                    [show_parent]="true"
                    [slide_to_remove]="false">
    </task-list-item>
  </div>
</ion-list>